Repository umgc/2025_fall, pull requests merged in 2025-10, with the labels that each got.

#452 [#448] Actionable Analytics Button
  LearningLens2025/frontend/lib/Views/analytics_page.dart
Labels: learninglens, Team E

#456 426 mlord migate calendar
  careconnect2025/frontend/lib/features/tasks/presentation/calendar_assisiant.dart
  careconnect2025/frontend/lib/features/tasks/presentation/widgets/calendar_cell.dart
  careconnect2025/frontend/lib/features/tasks/presentation/widgets/event_tile.dart
  careconnect2025/frontend/lib/features/tasks/presentation/widgets/filters_panel.dart
  careconnect2025/frontend/lib/features/tasks/presentation/widgets/legend.dart
  careconnect2025/frontend/lib/features/tasks/presentation/widgets/task_list_day.dart
  careconnect2025/frontend/lib/features/tasks/presentation/widgets/task_list_week.dart
  careconnect2025/frontend/lib/features/tasks/utils/task_utils.dart
  careconnect2025/frontend/pubspec.yaml
Labels: enhancement, careconnect, Team A

#412 voice_samples_settings: voice samples can be managed from notetaker s…
  careconnect2025/frontend/android/app/src/debug/AndroidManifest.xml
  careconnect2025/frontend/android/app/src/main/AndroidManifest.xml
  careconnect2025/frontend/android/app/src/profile/AndroidManifest.xml
  careconnect2025/frontend/lib/pages/notetaker_configuration_page.dart
  careconnect2025/frontend/pubspec.yaml
Labels: careconnect, Team A

#464 [#447] AI Analytics prompting
  LearningLens2025/MoodlePlugin/learninglens.zip
  LearningLens2025/MoodlePlugin/learninglens/classes/external/get_quiz_stats_for_student.php
  LearningLens2025/MoodlePlugin/learninglens/db/services.php
  LearningLens2025/MoodlePlugin/learninglens/version.php
  LearningLens2025/frontend/lib/Api/lms/moodle/moodle_lms_service.dart
  LearningLens2025/frontend/lib/Views/ai_log_screen.dart
  LearningLens2025/frontend/lib/Views/analytics_page.dart
  LearningLens2025/frontend/lib/beans/ai_log.dart
Labels: learninglens, Team E

#461 460_Codyjwhite_MethodforPermContext
  LearningLens2025/frontend/lib/Api/llm/DeepSeek_api.dart
  LearningLens2025/frontend/lib/Api/llm/grok_api.dart
  LearningLens2025/frontend/lib/Api/llm/llm_api_modules_base.dart
  LearningLens2025/frontend/lib/Api/llm/openai_api.dart
  LearningLens2025/frontend/lib/Api/llm/perplexity_api.dart
  LearningLens2025/frontend/lib/beans/chatLog.dart
  LearningLens2025/frontend/lib/services/ContextBuilder.dart
  LearningLens2025/frontend/lib/services/Token_Utils.dart
  LearningLens2025/frontend/test/services/ContextBuilder_test.dart
Labels: learninglens
